<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Auto_Clicker.Properties.Settings>
            <setting name="UseMouseMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="HoldOrSwitch" serializeAs="String">
                <value>switch</value>
            </setting>
            <setting name="PositionButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clickkey" serializeAs="String">
                <value>LButton</value>
            </setting>
            <setting name="ClickMode" serializeAs="String">
                <value>cps</value>
            </setting>
            <setting name="ClicksPerSec" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ClickTimeValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClickTimeUnit" serializeAs="String">
                <value>ms</value>
            </setting>
            <setting name="RepeatInfinite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowPointCLick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedPoints" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableWindowOnPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableredBox" serializeAs="String">
                <value>False</value>
            </setting>
        </Auto_Clicker.Properties.Settings>
    </userSettings>
</configuration>